<!-- <hr>

<li *ngFor="let libro of elencoLibri">
    {{libro.titolo}} - {{libro.tipo}}
</li> -->

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" class="example-drawer" opened>
    <!-- <h1>Elenco libri</h1> -->
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="list-group">
          <a
            class="list-group-item"
            *ngFor="let j of json$ | async"
            [routerLink]="['/elenco', j.id]">
            {{ j.titolo }}
          </a>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4">
        <!--<app-user></app-user>-->
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="example-content">
    <!-- <li *ngFor="let j of json$ | async">
      
      </li> -->
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

